
@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu');

body{
    padding: 0%;
    margin: 0%;
    font-family: 'lato';
}

.navbar-brand{
    font-family: 'Pacifico';
    font-size: 35px;
    color: lightcoral !important;
}

.nav-link{
    font-size: 16px;
    margin: 15px;
    color: black !important;
    font-family: 'Roboto Condensed';
}

.nav-link:hover{
    color: aqua !important;
}

.active .nav-link{
    color: aqua !important;
}

.menu-right-btn{
    padding: 13px 46px;
    margin-right: 4%;
    background-color: transparent;
    transition: all 300ms ease-in;
}

.menu-right-btn:hover{
    color: white;
    background-color: aqua;
}




.hide-replaced.ws-inputreplace {
    display: none !important;
}
.input-picker .picker-list td > button.othermonth {
    color: #888888;
    background: #fff;
}
.ws-inline-picker.ws-size-2, .ws-inline-picker.ws-size-4 {
    width: 49.6154em;
}
.ws-size-4 .ws-index-0, .ws-size-4 .ws-index-1 {
    border-bottom: 0.07692em solid #eee;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
}
.picker-list.ws-index-2, .picker-list.ws-index-3 {
    margin-top: 3.5em;
}
div.ws-invalid input {
    border-color: #c88;
}
.ws-invalid label {
    color: #933;
}
div.ws-success input {
    border-color: #8c8;
}
.ws-validate{
    margin: 10px auto;
    width: 700px;
    min-width: 49.6154em;
    border: 1px solid #000;
    padding: 10px;
}
.form-row {
    padding: 5px 10px;
    margin: 5px 0;
}
label {
    display: block;
    margin: 3px 0;
}
.form-row input {
    width: 220px;
    padding: 3px 1px;
    border: 1px solid #ccc;
    box-shadow: none;
}
.form-row input[type="checkbox"] {
    width: 15px;
}
.date-display {
    display: inline-block;
    min-width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    min-height: 1em;
}
.show-inputbtns .input-buttons {
    display: inline-block;
}
.cs{
    font-size: 20px;
    font-family: 'Roboto Condensed';
}

@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset
*{margin:0; padding:0;} */

/* html{
    height:100%; */
    /*Image only BG fallback*/ /*
    background: url("http://thecodeplayer.com/uploads/media/gs.png"); */
    /*background = gradient + image pattern combo */ /*
    background:linear-gradient(rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)),
    url("http://thecodeplayer.com/uploads/media/gs.png");
} */

.CakeBuilder{
    
    /*font-family: montserrat, arial, verdana;
    Image only BG fallback*/ 
    background-image: url(../Pictures/sponge_cake.jpg); 
    background-size: cover;
}

/*form styles*/
#msform{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 950px;
    margin: 0 auto; 
    text-align: center;
    position: relative;
}
#msform fieldset{
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 85%;
    margin: 0 10%;

    /*stacking fieldsset above each other 
    position: absolute; */
}

/*hide all except first fieldset*/
#msform fieldset:not(:first-of-type){
    display: none;
}
/*inputs*/
#msform input, #msform textarea{
    padding: 15px;
    border:1px solid #ccc;
    border-radius:3px;
    margin-bottom: 10px;

    box-sizing: border-box;
    font-family: montserrat;
    color:#2c3e50;
    font-size: 13px;
}
#me{
    width: 50%;
}
/*buttons*/
#msform .action-button{
    width: 50%;
    background: #27ae60;
    font-weight: bold;
    color: white;
    border:0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}

/*headings*/
.fs-title{
    font-size:30px;
    text-transform: uppercase;
    color: #2c3e50;
    margin-bottom: 15px;

}
/*
.fs-subtitle{
    font-weight: normal;
    font-size: 15px;
    color:#666;
    margin-bottom: 20px;
}
*/
/*progessbar*/
#progressbar{
    margin-bottom: 30px;
    overflow:hidden;
    /*CSS counter to number the steps*/
    counter-reset: step;

}
#progressbar li {
    list-style-type: none;
    color: green;
    text-transform: uppercase;
    font-size: 9px;
    width: 20%;
    float: left;
    position: relative;
}
#progressbar li::before{
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display:block;
    font-size: 10px;
    color:#333;
    background:white;
    border-radius: 3px;
    margin:0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after{
    content:'';
    width: 100%;
    height:2px;
    background: white; 
    position: absolute;
    left:-50%;
    top:9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after{
    /*connector not needed before the first step*/
    content:none;
}
/*making active/ completed step green*/
/*the number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after{
    background: #27ae60;
    color: white;
}

#country{
    margin: 35px;
    height:35px;
    padding: 5px;
    border-radius: 10px;
}
#state{
    margin: 15px;
    height:35px;
    padding: 5px;
    border-radius: 10px;
}
/* .cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
*/

.round_cake,.square_cake,.rectangle_cake,.loaf_cake,.bundt_cake,.jellyroll_cake,.love_cake{
    background-color: coral;
    border-radius: 20px;
    color: white;
    height: auto;
    width: fit-content ;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}
.square_cake{
    font-size: 16px;
}
#cakez{
    font-size: 20px;
}

#rc,#sc,#rec,#bc,#lc,#jrc,#lsc,#osc{
    display:inline-block;
}
.cc-selector-2, .cake_size {
    margin-bottom: 40px;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.roundcake {background-image: url("../Pictures/Custom_Cake_Round.jpg");  
            border-radius: 25px;
}
.squarecake{background-image:url("../Pictures/Custom_square_cake.jpg"); 
            border-radius: 25px;
}
.rectanglecake {background-image: url("../Pictures/Custom_rectangle_cake.jpg");  
    border-radius: 25px;
}
.bundtcake {background-image: url("../Pictures/Custom_bundt_cake.jpg");  
    border-radius: 25px;
}
.loafcake{background-image:url("../Pictures/Custom_loaf_cake.jpg"); 
    border-radius: 25px;
}
.jellyrollcake{background-image:url("../Pictures/Custom_jellyroll_cake.jpg"); 
    border-radius: 25px;
}
.loveshapecake{background-image:url("../Pictures/Custom_love_cake.jpg"); 
    border-radius: 25px;
}
.othershapecake{background-image:url("../Pictures/Custom_square_cake.jpg"); 
    border-radius: 25px;
}


.cc-selector-2 input:active +.shape, .cc-selector input:active +.shape{opacity: .9;}
.cc-selector-2 input:checked +.shape, .cc-selector input:checked +.shape{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.shape{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    /*-webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);*/
}
.shape:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}



#cakesize{
    margin-left: 30px;
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:30px;}
* { font-family:monospace; }
.cc-selector-2 input{ margin:5px 0 0 30px; }
.cc-selector-2 label{ margin-left: 7px; width: 100px; height: 100px;}
span.cc{ color:#6d84b4 }


label { display: inline-block }
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  border-radius: 25px;
  width: 100px;
  height: 100px;
}

.cake_content, .cake_layers{
    margin-left: 30px;
    margin-bottom: 20px;
}

label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid blue;
}

h2{
    margin-bottom: 15px;
}






























/* footer */

.social i{
    color: #EF5651;
    font-size: 20px;
}


@media screen and (max-width: 768px){
    .section-1 .card{
        width: 14rem;
    }

    .section-4 .col-md-7 img{
        width: 350px;
    }
}

@media screen and (max-width:320px){
    .site-content .site-title{
        font-size: 30px;
        padding-left:15%;
    }

    .site-btn{
        margin-left: 15%;
    }

    .section-1 .heading-1, .section-2 .heading-2 {
        font-size: 25px;
    }

    .section-1 .col-md-4{
        padding: 5%;
        margin-left: 8%;
    }

    .section-1 .card{
        width: 15rem;
    }

    .section-2 .heading-1, .section-2 .para{
        color: black;
    }

    .section-4 .col-md-5{
        padding: 0% 15%;
    }

    footer input[type="button"]{
        margin-left: 5%;
    }

}












