body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, sans-serif;
    background: white;
}

#main {
    background: white;
    
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.50);
}

#register_Customer {
    padding: 10px;
    width: 800px;
}

#register_Baker {
    padding: 10px;
    width: 800px;
    display: none;
}

.form-control{
    width: 330px;
    margin-bottom: 10px;
    box-sizing: content-box;
}

.inputbox {
    float: left;
    margin: 15px;
    height:35px;
    border: none;
    padding: 5px;
    border-bottom: 1px solid;
}

.btn{
    width: 80%;
    height: 45px;
    margin-left: 70px;
    border: none;
    text-decoration: uppercase;
}

.btn-primary{
    background: lightcoral;
    color: white;
}

#customer-tab, #baker-tab {
    padding: 15px;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

#customer-tab:hover, #baker-tab:hover{
    background-color: blue;
}

.active{
    background: lightcoral;
    color: white;
}

.textcenter {
    text-align: center;
}

.registertext {
    font-size: 12px;
    margin: 10px;
    color: black;
}
